.lead__title {
    margin: 0 0 32px 0;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    vertical-align: top;
    max-width: 720px;
    color: #FFFFFF;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        padding: 0 16px;
        margin: 0 0 16px 0;
        font-size: 40px;
        line-height: 44px;
    }
}