.cover {
    padding: 0 48px 92px 48px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding-right: 0;
        padding-left: 0;
        
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 700px){
    .cover {
        padding-bottom: 70px;
    }
}


@media screen and (max-width: 320px) {
    .cover {
        padding-bottom: 64px;
    }
}