.place__container-text {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

@media screen and (max-width: 1024px) {
    .place__container-text {
       max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__container-text {
        max-width: 352px;
        row-gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__container-text {
        padding: 0 16px 0 16px;
    }
}